@import "tailwindcss";

@layer components {
    .grid_animation {
        @apply transition-all duration-200 ease-linear;
    }

    .main_grid_container {
        @apply grid p-4 gap-2 z-20 pt-22;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        grid-auto-rows: minmax(13rem, 1fr);

    }

    .editing_grid_container {
        @apply grid p-4 gap-2 z-20 pt-22 pr-[18.9rem];
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        grid-auto-rows: minmax(11rem, 1fr);
    }

    .dense {
        grid-auto-flow: dense
    }

}